{% extends "admin/change_list.html" %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}<h1>{{ tableTitle }}</h1>{% endblock %}

{% block content %}

<table border = 0 width = 100%>

<td>
<form action="update/" method="POST">
<input type="submit" value="Atualizar Tabela" />
</form>
</td>

<td align = 'right'>
<form action="batch/" method="POST">
<input type="submit" value="Pegar Lote" />
</form>
</td>
</table>

<div id="content-main">
<div class="module" id="changelist">

<table cellspacing="0">
<thead>
<tr>
{% for header in fieldsList %}
<th>{{ header|capfirst }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for item in backupList %}
<tr class="{% cycle 'row1' 'row2' %}">{% for value in item %}<td>{{ value|safe }}</td>{% endfor %}</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>

{% endblock %}
